[submodule "uav-rai-demo/deps/botop"]
	path = uav-rai-demo/deps/botop
	url = https://github.com/MarcToussaint/botop
[submodule "crazyflie-firmware"]
	path = crazyflie-firmware
	url = https://github.com/IMRCLab/crazyflie-firmware.git
